.my-medium-article div,
.my-medium-article span,
.my-medium-article h3,
.my-medium-article p {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

.my-medium-article img {
  padding: 0;
  margin: 0;
  max-width: 100%;
  height: auto;
  font-size: 0;
  line-height: 0;
  vertical-align: bottom;
}

.my-medium-article {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.my-medium-article .my-medium-article-item {
  width: 48%;
  margin-bottom: 30px;
  background: #eee;
}

.widget_my_medium_article_widget .my-medium-article .my-medium-article-item {
  width: 100%;
}

@media screen and (max-width: 767px) {
  .my-medium-article-item {
    width: 100%;
    margin-bottom: 20px;
  }
}

.my-medium-article .mediumArticle a {
  display: block;
  position: relative;
  transition: 0.3s;
}

.my-medium-article .mediumArticle a:hover {
  opacity: 0.7;
}

.my-medium-article .mediumArticleImg img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

@media screen and (max-width: 767px) {
  .my-medium-article .mediumArticleImg img {
    height: 120px;
  }
}

.my-medium-article .mediumArticleCnt {
  padding: 20px;
}

.my-medium-article .mediumArticleTitle {
  font-size: 18px;
}

.my-medium-article .mediumArticleDate {
  margin-top: 10px;
}